@model dynamic

@{
    ViewBag.Title = "Episodes";
    Layout = "_Layout";
}

<h2 class="pb-4">Podcast</h2>

@*

*@
@* <a class="btn btn-lg btn-primary" asp-action="Create"> *@
@*     <i class="bi bi-plus-circle-dotted"></i> Add An *@
@* </a> *@