@using LarQ.ViewModels
@model IEnumerable<GetPodcastViewModel>

@{
    ViewBag.Title = "Podcasts";
    Layout = "_Layout";
}


<div class="d-flex justify-content-between px-2 pb-5 align-items-center">
    <h2 class="">Podcast</h2>
    <a class="btn btn-primary justify-content-between w-auto" asp-action="Create">
        <div class="d-flex justify-content-between align-items-center">
            <i class="bi bi-plus-circle-dotted p-1"></i>
            <p class="p-1 mb-0">Add Podcast</p>
        </div>
    </a>
</div>

@if (Model.Any())
{
    <h5>Reference Card</h5>
    <div class="row row-cols-auto row-cols-md-auto d-flex justify-content-start">
        @* <div class="col d-flex align-items-center g-3"> *@
        @* <div class="row row-cols-auto"> *@
        @* <div class="col d-flex align-items-start g-3"> *@


        @foreach (var item in Model)
        {
            
            <div class="col d-flex align-items-center g-3">
                <div class="card h-100  border-bottom-1 rounded-bottom-0 pm-3 " style="width: 8rem">
                    <img src="@item.Cover.FilePath" class="card-img-top img-thumbnail" alt="...">
                    <div class="card-body p-2">
                        <h6 class="card-title text-md-start">@item.Name</h6>
                        <p class="card-text text-truncate text-sm-start card-host-name mb-0">@item.HostName</p>
                    </div>
                </div>
            </div>
        }

    </div>
}

@* <h6>Popular & trending</h6> *@
@* <div class="row"> *@
@*     <div class=" d-flex gap-2 overflow-auto"> *@
@*         @for (var x = 0; x < 30; x++) *@
@*         { *@
@*             <div class="d-flex align-items-center col"> *@
@*                 <div class="card h-100  border-bottom-1 rounded-bottom-0"> *@
@*                     <img src="https://picsum.photos/1000/1000" class="card-img-top" alt="..."> *@
@*                     <div class="card-body p-2"> *@
@*                         <h6 class="card-title text-md-start">Card title</h6> *@
@*                         <p class="card-text text-truncate text-sm-start card-host-name mb-0">Ahmed Amer</p> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         } *@
@*     </div> *@
@* </div> *@

<h6>Popular & trending</h6>

@* <div class="card-group card-group-scroll gap-2"> *@
@*          *@
@*     @for (var x = 0; x < 30; x++) *@
@*     { *@
@*         <div class="card h-100 border-bottom-1 rounded-bottom-0"> *@
@*             <img src="https://picsum.photos/1000/1000" class="card-img-top" alt="..."> *@
@*             <div class="card-body p-2"> *@
@*                 <h6 class="card-title text-md-start">Card title</h6> *@
@*                 <p class="card-text text-truncate text-sm-start card-host-name mb-0">Ahmed Amer</p> *@
@*             </div> *@
@*         </div> *@
@*     } *@
@*      *@
@* </div> *@

@* <div class="card-group-scroll"> *@
@*     <div class="card-group gap-2"> *@
@*         @for (var x = 0; x < 30; x++) *@
@*         { *@
@*             <div class="card h-100 border-bottom-1 rounded-bottom-0"> *@
@*                 <img src="https://picsum.photos/1000/1000" class="card-img-top" alt="..."> *@
@*                 <div class="card-body p-2"> *@
@*                     <h6 class="card-title text-md-start">Card title</h6> *@
@*                     <p class="card-text text-truncate text-sm-start card-host-name mb-0">Ahmed Amer</p> *@
@*                 </div> *@
@*             </div> *@
@*         } *@
@*     </div> *@
@* </div> *@