<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LarQ - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
    <link rel="icon" href="favico.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/LarQ.styles.css" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.xyz/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>


<div class="container-fluid">
    <div class="row flex-nowrap">

        <div class="col-3 col-md-3 col-xl-2 bg-dark px-sm-2 px-0">
            <partial name="_Sidebar"/>
        </div>

        <div class="col py-3 d-flex flex-column justify-content-between" id="right-side">

            <div>
                <header>
                    <partial name="_Header"/>
                </header>

                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="border-top footer text-muted footer p-3 bg-dark-subtle text-white ">
                <div class="container">
                    &copy; 2023 - LarQ - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>

    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>